
.lanyard-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  pointer-events: none;
  transform: scale(1);
  transform-origin: top left;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.25));
}

.lanyard-wrapper canvas {
  pointer-events: none;
}
