
.lanyard-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
  transform: scale(1);
  transform-origin: top left;
}

.lanyard-wrapper > * {
  pointer-events: auto;
}
