
.lanyard-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20%;
  pointer-events: none;
  transform: scale(1);
  transform-origin: top left;
}

.lanyard-wrapper > * {
  pointer-events: auto;
}
